USE [master]
GO
/****** Object:  Database [WarehouseDB]    Script Date: 13.05.2026 4:08:25 ******/
CREATE DATABASE [WarehouseDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WarehouseDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WarehouseDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WarehouseDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WarehouseDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WarehouseDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WarehouseDB]
GO
/****** Object:  Table [dbo].[IssueRequest]    Script Date: 13.05.2026 4:08:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IssueRequest](
	[RequestNumber] [nvarchar](20) NOT NULL,
	[Code] [int] NOT NULL,
	[QuantityIssued] [int] NOT NULL,
	[IssueDate] [date] NOT NULL,
 CONSTRAINT [PK_IssueRequest] PRIMARY KEY CLUSTERED 
(
	[RequestNumber] ASC,
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movement]    Script Date: 13.05.2026 4:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movement](
	[Code] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PriceList]    Script Date: 13.05.2026 4:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriceList](
	[Code] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReceiptInvoice]    Script Date: 13.05.2026 4:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceiptInvoice](
	[InvoiceNumber] [nvarchar](20) NOT NULL,
	[Code] [int] NOT NULL,
	[QuantityReceived] [int] NOT NULL,
	[ReceiptDate] [date] NOT NULL,
 CONSTRAINT [PK_ReceiptInvoice] PRIMARY KEY CLUSTERED 
(
	[InvoiceNumber] ASC,
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Movement] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[IssueRequest]  WITH CHECK ADD  CONSTRAINT [FK_Issue_Movement] FOREIGN KEY([Code])
REFERENCES [dbo].[Movement] ([Code])
GO
ALTER TABLE [dbo].[IssueRequest] CHECK CONSTRAINT [FK_Issue_Movement]
GO
ALTER TABLE [dbo].[PriceList]  WITH CHECK ADD  CONSTRAINT [FK_Price_Movement] FOREIGN KEY([Code])
REFERENCES [dbo].[Movement] ([Code])
GO
ALTER TABLE [dbo].[PriceList] CHECK CONSTRAINT [FK_Price_Movement]
GO
ALTER TABLE [dbo].[ReceiptInvoice]  WITH CHECK ADD  CONSTRAINT [FK_Receipt_Movement] FOREIGN KEY([Code])
REFERENCES [dbo].[Movement] ([Code])
GO
ALTER TABLE [dbo].[ReceiptInvoice] CHECK CONSTRAINT [FK_Receipt_Movement]
GO
USE [master]
GO
